.top-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: $verde-medio;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1em;
  transition: transform 0.3s ease; /* Añadir transición */
  gap: 40px;
  z-index: 2000;
}

.top-bar a {
  color: white;
  text-decoration: none;
}

.top-bar i {
  margin: 0 5px; /* Espacio entre el ícono y el número */
  color: white; /* Color del ícono */
}

.top-bar p span {
  padding-left: 10px;
  padding-right: 10px;
}


@media (max-width: 768px) {

  .top-bar {

  }

  .top-bar_p{
    display: none;
  }

}