.c-nav-menu {
  display: flex;

  height: 60px;
}

.c-nav-menu__item {
  box-sizing: border-box;
  border: 3px solid $verde;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
    background-color: $verde;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.c-nav-menu__item__link {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: inherit;
  padding: 5px;
  margin: 0;
  display: block;
}